#fm-nav
  %nav.navbar.navbar-expand-sm.fixed-top.border-bottom.bg-white
    %a{class: "navbar-brand pl-2"}
      %img.w-25.d-inline_block.align-block.float-left{src: url_for(@logo.images.first)}
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    -# = image_tag '', url: 'http://localhost:3000/' , class:'d-inline_block align-block'
    .collapse.navbar-collapse#navbarSupportedContent.align-items-end.flex-column
      .navbar-nav
        .nav-item
          %a.nav-link.nav-item{:href => "#Inicio"} Inicio
        .nav-item
          %a.nav-link.nav-item{:href => "#galeria"} Galeria
        .nav-item
          %a.nav-link.nav-item{:href => "#vision"} Vision
        .nav-item
          %a.nav-link.nav-item{:href => "#nosotros"} Nosotros
        .nav-item
          %a.nav-link.nav-item{:href => "#contactanos"} Contactanos  
      -# .nav-item
      -#   - if current_user
      -#     %a.nav-link{"data-toggle"=>:dropdown}
      -#       = current_user.profile.name.capitalize
      -#       = current_user.profile.last_name.capitalize
      -#     .dropdown-menu.dropdown-menu-right
      -#       .dropdown-item
      -#         = link_to "perfil", new_user_session_path, method: "delete"
      -#       .dropdown-item
      -#         = link_to "logout", destroy_user_session_path, method: "delete"
      -#   - else
      -#     .nav-item
      -#       %a.nav-link{:href => "users/sign_up"} Registrate
.section
  #inicio
    #carouselExampleControls.carousel.slide{"data-ride"=>"carousel"}
      .carousel-inner
        -@first.images.each_with_index do |image,index|
          -if image 
            -if index == 0 
              .hero
                Novum Construcciones
              .carousel-item.active.m-0.p-0
                %img.w-100.d-block{src: url_for(image)}  
            -else
              .hero
                Novum Construcciones
              .carousel-item.m-0.p-0
                %img.w.100.d-block{src: url_for(image)}
.section 
  #galeria
  .row.mt-5.pt-5
    .col-12.d-flex.justify-content-center.pb-3
      - @categories.each do |category|
        -if category.name != "test" && category.name != "about" && category.name != "vision" && category.name != "inicio"&& category.name != "logo" && category.name != "Logo" && category.name != "logo_nuevo" 
          %button.mx-0.btn.btn-default.border-right.border_secondary.button_transparent_background.filter-button{'data-filter': category.name}=category.name    
    
    - @posts.each do |post| 
      -if Category.find(post.category_id).name != "test" && Category.find(post.category_id).name != "about" && Category.find(post.category_id).name != "vision" && Category.find(post.category_id).name != "inicio"&& Category.find(post.category_id).name != "logo" && Category.find(post.category_id).name != "Logo" && Category.find(post.category_id).name != "logo_nuevo" 
        #st{class:"#{Category.find(post.category_id).name} gallery_product filter col-6 col-lg-3"}
          .img-opacity-transition
            %a.title_width.title_margin_center{href: "/pages/#{post.id}"}=post.title
            %img.img-responsive.border-0.img-thumbnail{src: url_for(post.images.first)}


.section.mt-5
  #vision
  .row.mt-5
    .col-12.col-sm-6.text-left.mt-5
      %h2=@about.title
      %p=@about.comment.html_safe
    .col-12.col-sm-6
      %img.w-10.img-responsive.img-thumbnail.w-75{src: url_for(@about.images.first)}

.section.my-5
  #nosotros
  %h1 Nosotros
  .row.mt-5
    .col-12.col-sm-4.my-5
      .card
        .card-title
          .mt-5.mb-0 
            %h2 Construccion
        .card-body
          Ejecutamos las ideas ya convertidas en proyecto con un equipo especializado y calificado en las distintas materialidades. El mandante participa desde los primeros trazos en el terreno y en todo el proceso de ejecución, lo que permite la plena satisfacción en la conclusión de la obra.
    .col-12.col-sm-4.my-5
      .card
        .card-title
          .mt-5.mb-0 
            %h2 Técnica
        .card-body
          Novum Construcciones, cuenta con un área de profesionales que se encarga de manera personalizada de los distintos trámites inconclusos o nuevos trámites, como por ejemplo: Permisos de edificación, de obras nuevas o ampliaciones catalogadas como obra menor. Regularización de viviendas que no cuenten con Recepción Final Definitiva. Patentes comerciales y cambios de destinos
    .col-12.col-sm-4.my-5
      .card
        .card-title
          .mt-5.mb-0 
            %h2 Diseño Interiores
        .card-body
          Intervenimos el espacio ya habitado mejorando la calidad del estar, asesoramos en la nueva distribución de los espacios, la luz, el color, la materia y las nuevas formas como conclusión de un estudio integrado a las ideas solicitadas por la o el mandante. 

.section.my-5
  #contactanos
  %h1 Contáctanos
  .col-12.mt-5.px-0.pt-5
    .row.mx-0.px-0.mt-5
      .col-sm-4.text-left.mb-3
        .col-12.my-3
          .row
            .col-3
              <i class="fa fa-envelope-open" style="color: grey; font-size: 40px"></i> 
            .col-9
              %h4 Email
              tramarquitectos@gmail.com
        .col-12.mt-3
          .row
            .col-3
              <i class="fa fa-address-card" style="color:grey; font-size: 40px"></i>
            .col-9
              %h4 Dirección
              Av.La Palmilla 3723 con Teniente Yavar, Santiago Región Metropolitana
        .col-12.mt-3
          .row
            .col-3
              <i class="fa fa-phone-square" style="color:grey; font-size: 40px"></i>
            .col-9
              %h4 Fono
              +56955555555
      .col-12.col-sm-8.px-0
        = form_for Page.new do |f|
          .col-12.px-0
            .row
              .col-6.py-2
                = f.text_field :name, class: "form-control", placeholder: "nombre"
              .col-6.py-2
                = f.text_field :last_name, class: "form-control", placeholder: "apellido"
              .col-12.py-2
                = f.text_field :email, class: "form-control", placeholder: "email"
              .col-12.py-2
                = f.text_area :detail, class: "form-control" , placeholder:"requerimiento", size: "5x5"
              .col-12.text-right.py-2
                = f.submit :enviar, class: "btn btn-success"
.col-12.my-3.border-top
  .col-4.my-3.mb-2.offset-4
    footer
