#fm-nav
  %nav.navbar.navbar-expand-sm.bg-light.d-flex.justify-content-between.fixed-top
    %a{class: "navbar-brand"}
      %img.w-25.d-inline_block.align-block.float-left{src: url_for(@logo.images.first)}
      -# = image_tag '', url: 'http://localhost:3000/' , class:'d-inline_block align-block'
    .navbar-nav
      .nav-item
        %a.nav-link.nav-item{:href => "#galeria"} Galeria
      .nav-item
        %a.nav-link.nav-item{:href => "#vision"} Vision
      .nav-item
        %a.nav-link.nav-item{:href => "#nosotros"} Nosotros
      .nav-item
        %a.nav-link.nav-item{:href => "#nosotros"} Contactanos  
.col-12.mt-5.pt-5
  .row
    .col-6 
      #carouselExampleControls.carousel.slide{"data-ride"=>"carousel"}
        .carousel-inner
          -@post.images.each_with_index do |image,index|
            -if index == 0 
              .carousel-item.active
                %img.d-block.img-thumbnail{src: url_for(image)}  
            -else
              .carousel-item
                %img.d-block.img-thumbnail{src: url_for(image)}
        %a.carousel-control-prev{"href"=>"#carouselExampleControls","role"=>"button","data-slide"=>"prev"}
          %span.carousel-control-prev-icon{"aria-hidden"=>"true"}
          %span.sr-only Previous
        %a.carousel-control-next{"href"=>"#carouselExampleControls","role"=>"button","data-slide"=>"next"}
          %span.carousel-control-next-icon{"aria-hidden"=>"true"}
          %span.sr-only Next

    .col-6
      %h1=@post.title
      %p=@post.comment.html_safe




