.col-sm-12
  %h1 Editar item
.col-10.mt-5
  .card
    .card-body
      = form_with model: @post, multipart: true  do |f|
        .row
          .col-12
            = f.label :Titulo
            = f.text_field :title , class: "form-control"
          .col-12
            = f.label :Comentario
            = f.trix_editor :comment, class: "form-control"
          .col-12
            = f.label :Imagenes
            <input type="file" name="post[images][]" multiple>
          .col-12
            = f.label "fecha"
            = f.date_field :date, class: "form-control" 
          .col-12.mt-3
            = f.submit class: "btn btn-secondary button_color_pink"