.container
  .row
    .col-12
      .btn.button_home_color
        = link_to('agregar', new_post_path)
      .card
        .card-header
          Items Galeria
        .card-body
          - @posts.each do |post|  
            .row.mt-3.border-top.p-4
              .col-sm-2
                = post.title
                -# = image_tag url_for(image.image), alt: '', height: '80%', width: '80%', class: 'image_thumbnail'  
              .col-sm-7
                = post.comment.html_safe
              .col-sm-1
                = link_to('Editar', edit_post_path(post))
              .col-sm-1
                = link_to('Eliminar', edit_post_path(post))
              .col-sm-1
                = link_to('eliminar', post_path(post), method: :delete, data: { confirm: 'Estas Seguro?' })


                  

    
