.col-sm-12
  %h3 Nuevo elemento de Galeria
.col-10
  .card
    .card-body
      = form_with model: @post, multipart: true  do |f|
        .row
          .col-12
            = f.label :Titulo
            = f.text_field :title , class: "form-control"
          .col-12
            = f.label :Categoria
            = f.select(:category_id, Category.all.collect{|d| [d.name,d.id]})
          .col-12
            = f.label :Comentario
            = f.trix_editor :comment, class: "form-control"
          .col-12
            = f.label :Imagenes
            <input type="file" name="post[images][]" multiple>
          .col-12.mt-3
            = f.submit "crear", class: "btn btn-secondary button_color_pink"
.col-12.mt-3
  .card
    .card-header
      Items Galeria
    .card-body
      - @posts.each do |post|  
        .row.mt-3.border-top.p-4
          .col-sm-2
            = post.title
            -# = image_tag url_for(image.image), alt: '', height: '80%', width: '80%', class: 'image_thumbnail'  
          .col-sm-6
            = post.comment
          .col-sm-2
            = link_to('Editar', edit_post_path(post))
          .col-sm-2
            = link_to('Eliminar', edit_post_path(post))
          


              