/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require_self
 *= require trix
 *= require dropzone/basic
 *= require dropzone/dropzone
 *= require font-awesome
 */
 @import "trix";
 @import "bootstrap";

 body{
     height: 100%;
 }

 .button_transparent_background{
     background: none;
 }

 .title_width{
     width: 70px;
 }

 .opacity{
     opacity: 0.5;
     a{
         z-index: 20000;
         color:black;
     }
 }
 .title_margin_center{
    position: absolute;
    margin-left: 33%;
    margin-top:20%;
    z-index: 2;
 }

 .nav-item{
    font-family: 'Poppins', sans-serif;
    color:black;
 }

 .hero {
    position: absolute;
    top: 50%;
    left: 38%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    z-index: 3;
    color: #fff;
    text-align: center;
  }
 

button{
    font-family: 'Raleway', sans-serif;
    color: black;
}
body{
    font-family: 'Raleway', sans-serif;
}

.border_circled{
    border-radius: 50%;
}
