// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body{
    height: 100%;

}

.image_galery{
    width: 300px;
    height: 270px !important;
}

.long-sidebar{

    height: auto;
}

.img-opacity-transition{
    font-size:22px;
    transition: 1s;
    a{
        color:transparent !important;
        transition: 1s;
    }
    
}

.img-opacity-transition:hover{
    a{
        color:black !important;
        opacity: 0.8; 
        text-decoration: none;
    }

    
    img {
        transition:1s;
      }
    img:hover{
        opacity: 0.1;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }
}

