.col-10.text-left.mt-3
  %h4 Gestionar Categorias
  .card
    .card-body
      = form_with  model: @category do |c|
        .row
          .col-2
            = c.label :nombre
          .col-10
            = c.text_field :name, class: "form-control"
          .col-2
            = c.label :Descripcion
          .col-10
            = c.text_area :description,  class: "form-control"
          .col-2 
            = c.label :Ubicacion
          .col-10 
            = c.text_field :kind,  class: "form-control"
          .col-2
            =c.submit "Guargar", class: "btn btn-secondary button_color_pink"
.col-10.text-left.mt-3
  .card
    .card-header
      Items Galeria
    .card-body.text-left
      - @categories.each do |post|  
        .row.mt-3.border-top.p-4
          .col-sm-2
            = post.name
            -# = image_tag url_for(image.image), alt: '', height: '80%', width: '80%', class: 'image_thumbnail'  
          .col-sm-6
            = post.description
          .col-sm-2
            = link_to('Edit', edit_post_path(post))
          .col-sm-2
            = link_to('eliminar', posts_path(@post) , method: :delete, data: { confirm: 'Estas Seguro?' })


              


