!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Trama Arquitectos
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap" rel="stylesheet">

  %body
    .d-flex#wrapper.long-sidebar
      - if controller_name != 'pages' 
        .bg-light.border-right#sidebar-wrapper
          .sidebar-heading
            Dashboard
          .list-group.list-group-flush
            = link_to "Galeria",new_post_path, class: "list-group-item list-group-item-action bg-light"
            = link_to "Categorias",new_category_path , class: "list-group-item list-group-item-action bg-light"
            = link_to "Salir","#", class: "list-group-item list-group-item-action bg-light"
            
      - if controller_name == 'posts'
        #page-content-wrapper.col-10
          .container-fluid
            %h1.mt-4
            - if notice
              %p.alert.alert-success
                = notice
            - if alert
              %p.alert.alert-danger
                = alert
            = yield
      - else 
        #page-content-wrapper.col-12.text-center
          .container-fluid
            %h1.mt-4
            - if notice
              %p.alert.alert-success
                = notice
            - if alert
              %p.alert.alert-danger
                = alert
            = yield
    
